# Datasets 2016
Para cada año tenemos 3 tablas a inspeccionar, limpiar y unir:
- `title_basics`: pública y descargada de IMDb
- `title_ratings`: pública y descargada de IMDb
- `movies`: propia, escrapeada de la web de IMDb para todas las películas del año correspondiente

In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
anno = 2016

In [3]:
# Tabla descargada de IMDb

title_basics = pd.read_csv('../data/imdb/title_basics.tsv', sep='\t', na_values='\\N')
print(title_basics.shape)
title_basics.head()

C:\Users\casiopa\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

(8084314, 9)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0.0,1894.0,NaN,1.0,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0.0,1892.0,NaN,5.0,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0.0,1892.0,NaN,4.0,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0.0,1892.0,NaN,12.0,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0.0,1893.0,NaN,1.0,"Comedy,Short"

In [4]:
# Tabla descargada de IMDb

title_ratings = pd.read_csv('../data/imdb/title_ratings.tsv', sep='\t')
print(title_ratings.shape)
title_ratings.head()

(1171920, 3)

      tconst  averageRating  numVotes
0  tt0000001            5.7      1722
1  tt0000002            6.0       211
2  tt0000003            6.5      1484
3  tt0000004            6.1       124
4  tt0000005            6.2      2286

In [5]:
# Películas de escrapeadas de la web IMDb

movies = pd.read_csv('../data/web_imdb/movies_df_'+ str(anno) + '.csv', sep=';', na_values=["[]", "['']", "['', '']", "['', '', '']"])
print(movies.shape)
movies.head()

(17609, 20)

,imdb_id,title,original_title,year,certificate,duration,directors,writers,stars,genres,countries,companies,imdb_rating,metascore,popularity,awards,budget,gross_us_canada,opening_us_canada,gross_world
0,tt0443533,La historia del amor,The History of Love,2016.0,12,2h 14min,['Radu Mihaileanu'],"['Radu Mihaileanu', 'Marcia Romano', 'Nicole K...","['Gemma Arterton', 'Elliott Gould', 'Derek Jac...","['Drama', 'Romance', 'War']","['France', 'Belgium', 'Canada', 'Romania']","['2.4.7. Films', 'Oï Oï Oï Productions', 'Cara...",6.3,NaN,NaN,Awards\r\n2 nominations,"€15,000,000",NaN,NaN,"$492,272"
1,tt0470936,"Tak erkir, tsurt dzmer",NaN,2016.0,NaN,NaN,['David Safarian'],"['David Safarian', 'Yana Drouz']","['Yana Drouz', 'Ashot Adamyan', 'Karen Dzhanib...",['Drama'],['Armenia'],['Studio DS'],4.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,tt0364201,Aman Ke Farishtey,NaN,2016.0,Not Rated,2h 17min,['Kader Kashmiri'],['Kader Kashmiri'],"['Sonia Albizuri', 'Dev Anand', 'Bob Christo']",['Action'],['India'],['Gold Coin Entertainment'],6.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,tt0308078,Les bâtisseurs,NaN,2016.0,NaN,NaN,['Jean Epstein'],"['Auguste Perret', 'Charles-Édouard Jeanneret-...",NaN,['Documentary'],['France'],['Ciné-Liberté'],6.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,tt0376479,Pastoral americana,American Pastoral,2016.0,12,1h 48min,['Ewan McGregor'],"['Philip Roth', 'John Romano']","['Ewan McGregor', 'Jennifer Connelly', 'Dakota...","['Crime', 'Drama']","['Hong Kong', 'United States']","['Lionsgate', 'Lakeshore Entertainment', 'TIK ...",6.1,43.0,NaN,Awards\r\n1 win & 3 nominations,NaN,"$544,098","$149,038","$2,063,436"

In [6]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17609 entries, 0 to 17608
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   imdb_id            17609 non-null  object
 1   title              17598 non-null  object
 2   original_title     698 non-null    object
 3   year               17596 non-null  float64
 4   certificate        2831 non-null   object
 5   duration           2800 non-null   object
 6   directors          16993 non-null  object
 7   writers            15123 non-null  object
 8   stars              11420 non-null  object
 9   genres             16713 non-null  object
 10  countries          17005 non-null  object
 11  companies          12372 non-null  object
 12  imdb_rating        9457 non-null   float64
 13  metascore          837 non-null    float64
 14  popularity         192 non-null    object
 15  awards             4242 non-null   object
 16  budget             4892 non-null   object
 17  gross_us_canada    689 non-null    object
 18  opening_us_canada  627 non-null    object
 19  gross_world        2867 non-null   object
dtypes: float64(3), object(17)
memory usage: 2.7+ MB

---
## Número de películas

En primer lugar verificar si hay una discrepancia entre el número de películas obtenidas de title_basics.tsv de IMDb
y el número de películas resultantes del scrapping.

In [7]:
# Cargar las películas de la base de datos de IMDb en una lista

imdb_ids = title_basics[(title_basics.titleType=='movie') & (title_basics.startYear==anno)]
imdb_ids = list(imdb_ids['tconst'])
len(imdb_ids)

17609

In [8]:
scrap_ids = list(movies['imdb_id'])
len(scrap_ids)

17609

In [9]:
len(title_basics[(title_basics.titleType=='movie') & (title_basics.startYear==anno)].drop_duplicates())

17609

In [10]:
len(movies.drop_duplicates())

17609

---
## 1. Bd de IMDb: `title_basics`

### Variable `runtimeMinutes`

In [11]:
title_basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8084314 entries, 0 to 8084313
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         float64
 5   startYear       float64
 6   endYear         float64
 7   runtimeMinutes  object
 8   genres          object
dtypes: float64(3), object(6)
memory usage: 555.1+ MB

#### Convertir `runtimeMinutes` en float
La siguiente función convierte los valores en float si se puede de manera natural, y si no se puede los imprime y convierte a nulo.

In [12]:
def to_float(n):
    try:
        n = float(n)
        return n
    except:
        print(n)
        return np.nan

In [13]:
title_basics.runtimeMinutes = title_basics.runtimeMinutes.apply(to_float)
title_basics.runtimeMinutes

Reality-TV
Documentary
Talk-Show
Game-Show
Reality-TV
Animation,Comedy,Family
Reality-TV

0           1.0
1           5.0
2           4.0
3          12.0
4           1.0
           ...
8084309     NaN
8084310     NaN
8084311     NaN
8084312    27.0
8084313    10.0
Name: runtimeMinutes, Length: 8084314, dtype: float64

#### Eliminar de `title_basics` los registros con outliers en `runtimeMinutes`

In [14]:
# Buscar outliers mayores de 1.000 minutos y menores 15
# El resltado es un listado de películas fake, cortos o compendios de pelis.
# Eliminar todos estos registros del scrapping

title_basics = title_basics[(title_basics.titleType=='movie') & (title_basics.startYear==anno)]

title_basics = title_basics[~((title_basics.runtimeMinutes<15) | (title_basics.runtimeMinutes>500))]
title_basics.shape

(17592, 9)

In [15]:
# Una vez eliminados los outliers estos son los estadísticos:

title_basics.runtimeMinutes.describe().round(2)

count    13798.00
mean        88.95
std         26.09
min         20.00
25%         73.00
50%         88.00
75%        100.00
max        485.00
Name: runtimeMinutes, dtype: float64

---
## 2. Bd de IMDb: `title_ratings`

In [16]:
title_ratings = pd.read_csv('../data/imdb/title_ratings.tsv', sep='\t')
print(title_ratings.shape)
title_ratings.head()

(1171920, 3)

      tconst  averageRating  numVotes
0  tt0000001            5.7      1722
1  tt0000002            6.0       211
2  tt0000003            6.5      1484
3  tt0000004            6.1       124
4  tt0000005            6.2      2286


---
## 3. Bd propia escrapeada del portal IMDb: `movies`

## `year`
La base de datos de IMDb descargada tiene algunas discrepancias en cuanto al año de las películas, no coindice el año en la base de datos descargada de IMDb con el año del portal web, en el caso del año 2019 ocurre en 12 registros. Existe algún caso en el que tampoco coincide el año de la película en el portal Metacritic. Hay varias formas de afrontar estas discrepancias, en este caso, y por simplificación, utilizaré el año de la base de datos de IMDb.
Hay también algunos registros en la base de datos con valores nulos para el año y demás columnas, y serán eliminados (47 registors en total).

In [17]:
# Películas escrapeadas con año diferente
len(movies[(movies['year']!=anno) & movies['year'].notnull()])

7

In [18]:
movies[(movies['year']!=anno) & movies['year'].notnull()]

,imdb_id,title,original_title,year,certificate,duration,directors,writers,stars,genres,countries,companies,imdb_rating,metascore,popularity,awards,budget,gross_us_canada,opening_us_canada,gross_world
3138,tt3721390,Un homme à la mer,NaN,2015.0,NaN,NaN,['Géraldine Doignon'],['Géraldine Doignon'],"['Yoann Blanc', 'Jo Deseure', 'Bérengère Bodin']",['Drama'],"['Belgium', 'France']","['Fontana', 'Hélicotronc', 'Kizmar Films']",6.2,NaN,NaN,Awards\r\n1 win & 1 nomination,"€1,000,000",NaN,NaN,NaN
5517,tt4893650,The Visitors,NaN,2022.0,NaN,NaN,['Jeremy Hull'],['Jeremy Hull'],"['Kate Acosta', 'James Baird', 'Daniel Brehm']","['Horror', 'Sci-Fi']",['United States'],['Cinescope Productions'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7544,tt5348954,Hayat Öpücügü,NaN,2015.0,NaN,NaN,['Senol Sönmez'],"['Saygin Delibas', 'Fethi Kantarci']","['Ali Sunal', 'Hatice Sendil', 'Ugur Ahurcu']","['Comedy', 'Drama', 'Romance']",['Turkey'],['Besiktas Kültür Merkezi (BKM)'],5.9,NaN,NaN,Awards\r\n1 win,NaN,NaN,NaN,"$874,769"
9762,tt5686846,Xi you ji: Da nao tian gong,NaN,2014.0,Not Rated,1h 59min,['Soi Cheang'],"['Tai-lee Chan', 'Kam-Yuen Szeto', 'Edmond Wong']","['Donnie Yen', 'Chow Yun-Fat', 'Aaron Kwok']","['Action', 'Adventure', 'Family']","['China', 'Hong Kong']","['Film Workshop', 'Global Star Productions', '...",4.9,NaN,NaN,Awards\r\n1 win & 6 nominations,"$100,000,000",NaN,NaN,"$182,206,924"
13992,'Drama'],['Denmark'],['MomLake Productions'],9.1,NaN,NaN,NaN,DKK 70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14116,tt6272504,Kaasav: Turtle,NaN,2017.0,NaN,NaN,"['Sumitra Bhave', 'Sunil Sukthankar']",['Sumitra Bhave'],"['Mohan Agashe', 'Devika Daftardar', 'Omkar Gh...","['Drama', 'Family']",['India'],['Vichitra Nirmitee Creation'],8.9,NaN,NaN,Awards\r\n1 win & 1 nomination,NaN,NaN,NaN,NaN
16296,tt7258600,Con Men,NaN,2015.0,NaN,NaN,['R. Paul Wilson'],['R. Paul Wilson'],"['Liesl Brown', 'Sarah-Beth Brown', 'Paul Carr...","['Crime', 'Drama', 'Mystery']","['United Kingdom', 'United States']","['Con Cam Productions', 'Tartan Spartan Films'...",6.2,NaN,NaN,NaN,"£5,000",NaN,NaN,NaN

In [19]:
title_basics[title_basics['tconst']=='tt10461238']

Empty DataFrame
Columns: [tconst, titleType, primaryTitle, originalTitle, isAdult, startYear, endYear, runtimeMinutes, genres]
Index: []

#### Eliminar del df escrapeado las películas de años posteriores a 2019
(son pelis futuras que se han colado)

In [20]:
movies = movies[~(movies['year']>2019)]
len(movies)

17608

#### Eliminar del df escrapeado las películas sin año
(son pelis sin información o url en el portal)

In [21]:
# Películas escrapeadas con año null, no tienen casi información, serán eliminadas
movies = movies[movies['year'].notnull()]
len(movies)

17595

## `imdb_rating`
Esta variable será sustituida por la de la base de datos `title_rating` descargada de IMDb

In [22]:
movies[['imdb_rating']].describe().round(2)

       imdb_rating
count      9456.00
mean          6.24
std           1.49
min           1.00
25%           5.40
50%           6.40
75%           7.30
max          10.00

## `metascore`
Comparing to: https://www.metacritic.com/feature/best-movies-released-in-2019

Hay pequeñas discrepancias en el listado de películas, debido a las fechas de estreno. Metacritic considera la fecha de estreno en USA. IMDb la fecha de estreno mundial. Pero sí que coinciden las puntuaciones y la mayoría de películas asignadas a 2019.

In [23]:
movies[['imdb_id', 'title', 'original_title', 'imdb_rating', 'metascore', 'year']][movies.metascore>=82].sort_values('metascore', ascending=False)

,imdb_id,title,original_title,imdb_rating,metascore,year
5800,tt4975722,Moonlight,NaN,7.4,99.0,2016.0
3586,tt4034228,Manchester frente al mar,Manchester by the Sea,7.8,96.0,2016.0
10659,tt5804038,I Am Not Your Negro,NaN,7.9,95.0,2016.0
3262,tt3783958,La ciudad de las estrellas (La La Land),La La Land,8.0,94.0,2016.0
3608,tt4048272,Toni Erdmann,NaN,7.4,93.0,2016.0
6333,tt5116410,Tower,NaN,7.9,92.0,2016.0
10450,tt5777628,One More Time with Feeling,NaN,8.3,92.0,2016.0
4459,tt4515928,Gavagai,NaN,6.6,91.0,2016.0
3828,tt4170344,I Called Him Morgan,NaN,7.3,90.0,2016.0
6952,tt5247022,Paterson,NaN,7.4,90.0,2016.0
3126,tt3716530,Elle,NaN,7.1,89.0,2016.0
3740,tt4120176,El porvenir,L'avenir,7.0,88.0,2016.0
2061,tt2582782,Comanchería,Hell or High Water,7.6,88.0,2016.0
6829,tt5221584,Doña Clara,Aquarius,7.5,88.0,2016.0
6350,tt5119264,Restless Creature: Wendy Whelan,NaN,7.1,87.0,2016.0
3008,tt3652526,Fuego en el mar,Fuocoammare,6.8,87.0,2016.0
7120,tt5278578,Newtown,NaN,6.8,87.0,2016.0
2305,tt3068194,Amor y amistad,Love & Friendship,6.4,87.0,2016.0
9500,tt5652594,"Las películas de mi vida, por Bertrand Tavernier",Voyage à travers le cinéma français,7.7,87.0,2016.0
3039,tt3666024,La tortuga roja,La tortue rouge,7.5,86.0,2016.0
6806,tt5215486,Dawson City: Frozen Time,NaN,7.6,86.0,2016.0
8701,tt5546192,The Prison in Twelve Landscapes,NaN,7.0,86.0,2016.0
5602,tt4919484,Verano en Brooklyn,Little Men,6.7,86.0,2016.0
7703,tt5375040,Cameraperson,NaN,7.4,86.0,2016.0
6684,tt5186714,El viajante,Forushande,7.7,85.0,2016.0
7803,tt5427450,Mali Blues,NaN,6.9,85.0,2016.0
1910,tt2321405,La vida de Calabacín,Ma vie de Courgette,7.8,85.0,2016.0
5634,tt4929038,El ornitólogo,O Ornitólogo,6.3,85.0,2016.0
7571,tt5350800,Royahaye dame sobh,NaN,7.8,85.0,2016.0
5661,tt4936450,Los exámenes,Bacalaureat,7.3,84.0,2016.0
7945,tt5450084,Homo sapiens,NaN,7.1,84.0,2016.0
6672,tt5182856,Fuchi ni tatsu,NaN,6.9,84.0,2016.0
4066,tt4302938,Kubo y las dos cuerdas mágicas,Kubo and the Two Strings,7.8,84.0,2016.0
3559,tt4016934,La doncella,Ah-ga-ssi,8.1,84.0,2016.0
7121,tt5278596,Weiner,NaN,7.6,84.0,2016.0
7200,tt5294966,Después de la tormenta,Umi yori mo mada fukaku,7.4,84.0,2016.0
10980,tt5840448,Rat Film,NaN,6.7,83.0,2016.0
11008,tt5843990,Ang babaeng humayo,NaN,7.3,83.0,2016.0
11417,tt5895028,Enmienda XIII,13th,8.2,83.0,2016.0
11755,tt5937296,Un minuto de gloria,Slava,7.6,83.0,2016.0
12581,tt6060960,El futuro perfecto,NaN,6.7,83.0,2016.0
13577,tt6192878,Miss Kiet's Children,De kinderen van juf Kiet,7.6,83.0,2016.0
5781,tt4972062,No lo pienses dos veces,Don't Think Twice,6.7,83.0,2016.0
5140,tt4771932,El día más feliz en la vida de Olli Mäki,Hymyilevä mies,7.2,83.0,2016.0
4216,tt4385888,Mujeres del siglo XX,20th Century Women,7.3,83.0,2016.0
4111,tt4331970,Cuando tienes 17 años,Quand on a 17 ans,7.2,83.0,2016.0
4010,tt4273292,Bajo la sombra,Under the Shadow,6.9,83.0,2016.0
2213,tt2937696,Todos queremos algo,Everybody Wants Some!!,6.9,83.0,2016.0
6894,tt5236900,Nuts!,NaN,7.1,82.0,2016.0
7922,tt5447852,A Stray,NaN,8.6,82.0,2016.0
4959,tt4698584,Neruda,NaN,6.8,82.0,2016.0
4372,tt4468634,Certain Women,NaN,6.4,82.0,2016.0
9841,tt5698496,La doncella sin manos,La jeune fille sans mains,7.0,82.0,2016.0
4360,tt4466490,Sieranevada,NaN,7.3,82.0,2016.0
3855,tt4181270,Window Horses: The Poetic Persian Epiphany of ...,NaN,6.6,82.0,2016.0
3423,tt3908142,The Love Witch,NaN,6.2,82.0,2016.0
13034,tt6113688,Nowhere to Hide,NaN,7.9,82.0,2016.0
6245,tt5096536,Reparar a los vivos,Réparer les vivants,6.9,82.0,2016.0

In [24]:
np.sort(movies.metascore.dropna().unique())

array([ 2.,  3.,  7., 10., 11., 14., 15., 16., 18., 21., 22., 23., 24.,
       25., 26., 27., 28., 29., 30., 31., 32., 33., 34., 35., 36., 37.,
       38., 39., 40., 41., 42., 43., 44., 45., 46., 47., 48., 49., 50.,
       51., 52., 53., 54., 55., 56., 57., 58., 59., 60., 61., 62., 63.,
       64., 65., 66., 67., 68., 69., 70., 71., 72., 73., 74., 75., 76.,
       77., 78., 79., 80., 81., 82., 83., 84., 85., 86., 87., 88., 89.,
       90., 91., 92., 93., 94., 95., 96., 99.])

In [25]:
movies.metascore.describe()

count    837.000000
mean      59.224612
std       17.347068
min        2.000000
25%       48.000000
50%       62.000000
75%       73.000000
max       99.000000
Name: metascore, dtype: float64

## `popularity`
Valor que vamos a descartar porque es muy volátil, cambia continuamente. Así, no guarda relación temporal con la taquilla que es el objeto de estudio.

In [26]:
# Convertirlo a número
movies['popularity'] = movies.popularity.str.replace(',', '').astype(float)

In [27]:
movies.popularity.describe()

count     192.000000
mean     2369.223958
std      1366.958636
min        72.000000
25%      1159.250000
50%      2350.000000
75%      3428.000000
max      4985.000000
Name: popularity, dtype: float64

## `directors`, `writers`, `stars`, `countries`, `companies`
Convertir a: comma separated values

In [28]:
movies['directors'] = movies['directors'].str.replace('[', '', regex=False) \
                                         .str.replace(']', '', regex=False) \
                                         .str.replace("'", "", regex=False) \
                                         .str.replace(", ", ",", regex=False)

In [29]:
movies['writers'] = movies['writers'].str.replace('[', '', regex=False) \
                                     .str.replace(']', '', regex=False) \
                                     .str.replace("'", "", regex=False) \
                                     .str.replace(", ", ",", regex=False)

In [30]:
movies['stars'] = movies['writers'].str.replace('[', '', regex=False) \
                                   .str.replace(']', '', regex=False) \
                                   .str.replace("'", "", regex=False) \
                                   .str.replace(", ", ",", regex=False)

In [31]:
movies['countries'] = movies['countries'].str.replace('[', '', regex=False) \
                                         .str.replace(']', '', regex=False) \
                                         .str.replace("'", "", regex=False) \
                                         .str.replace(", ", ",", regex=False)

In [32]:
movies['companies'] = movies['companies'].str.replace('[', '', regex=False) \
                                         .str.replace(']', '', regex=False) \
                                         .str.replace("'", "", regex=False) \
                                         .str.replace(", ", ",", regex=False)

## `opening_us_canada`, `gross_us_canada`
Convertir estos valores a números, eliminando el signo del dólar

In [33]:
def remove_dolar(amount):
    if str(amount) == 'nan':
        return np.nan    
    else:        
        return float(amount.replace(',', '')[1:])

In [34]:
movies['gross_us_canada'] = movies['gross_us_canada'].apply(remove_dolar)
movies['gross_us_canada']

0             NaN
1             NaN
2             NaN
3             NaN
4        544098.0
           ...
17604         NaN
17605         NaN
17606         NaN
17607         NaN
17608         NaN
Name: gross_us_canada, Length: 17595, dtype: float64

In [35]:
movies['opening_us_canada'] = movies['opening_us_canada'].apply(remove_dolar)
movies['opening_us_canada']

0             NaN
1             NaN
2             NaN
3             NaN
4        149038.0
           ...
17604         NaN
17605         NaN
17606         NaN
17607         NaN
17608         NaN
Name: opening_us_canada, Length: 17595, dtype: float64

## `budget`
### Normalización `budget` a dólares
Son necesarios varios procesos para tener un valor válido de la variable `budget`:
- Separar, con regex, el texto que corresponde a la moneda y el que corresponde a la cantidad (ej. '€195,000'). Estos dos textos serán dos nuevas columnas `budgetCurrency` y `busgetAmount`
- Crear un diccionario con la correspondencia del código usado para las monedas en IMDb y el código ISO
- Crear un archivo externo que contenga las tasas de cambio para cada moneda y año
- Crear una nueva columna `budgetInDolars` con el valor ya normalizado a dólares

In [36]:
import re

def clean_amount_currency(raw_amount):
    
    if str(raw_amount) == 'nan' :
        return (np.nan, np.nan)
    
    # Diccionario con correspondencia del símbolo de moneda de IMDb y el ISO de monedas
    # Monedas de 2019 sin tasas de cambio: 'LVL'
    currency_to_iso = {'$':'USA', 'A$':'AUS', 'ZAR':'ZAF', '₹':'IND', '€':'EU27_2020',
                       'RUR':'RUS', 'R$':'BRA', 'CN¥':'CHN', 'TRL':'TUR', 'CA$':'CAN',
                       'NPR':'NPR', '£':'GBR', '¥':'JPN', 'HUF':'HUN', 'HRK':'HRV',
                       'NOK':'NOR', 'MNT':'MNT', 'CHF':'CHE', 'MX$':'MEX', 'UAH':'UAH',
                       'HK$':'HKG', 'PHP':'PHP', 'PLN':'POL', 'EGP':'EGP' , 'IRR':'IRR',
                       'NZ$':'NZL', 'AED':'AED', 'DKK':'DNK', 'NGN':'NGN', 'SEK':'SWE',
                       'BDT':'BDT', 'MYR':'MYR', 'CZK':'CZE', 'ARS':'ARG', 'PKR':'PKR',
                       'GEL':'GEL', 'NT$':'TWD', '₪':'ISR', '₫':'VND', '₩':'KOR', 'THB':'THB',
                       'RON':'ROU', 'PTE':'PRT', 'TTD':'TTD', 'MVR':'MVR', 'JOD':'JOD',
                       'ISK':'ISL', 'COP':'COL', 'LKR':'LKR', 'BSD':'BSD', 'BGL':'BGR',
                       'KZT':'KZT', 'KES':'KES', 'TZS':'TZS', 'DOP':'DOP', 'TJS':'TJS',
                       'TND':'TND', 'MUR':'MUR', 'SGD':'SGD', 'MOP':'MOP', 'IDR':'IDN',
                       'ETB':'ETB', 'CUP':'CUP', 'BYR':'BYR', 'MMK':'MMK', 'NAD':'NAD',
                       'PEN':'PER', 'MKD':'MKD', 'UGX':'UGX', 'BAM':'BAM', 'ALL':'ALL',
                       'KGS':'KGS', 'GHC':'GHS'
                      }
    
    raw_amount = raw_amount.replace(',', '')
    
    for item in re.finditer(r"^(\D+)(\d+)$", raw_amount):
        try:
            currency = currency_to_iso[item.group(1).strip()]
        except:
            currency = str(np.nan)
        amount = float(item.group(2))

    return(currency, amount)



# Dividir la info de budget en dos nuevas columnas (cantidad y moneda)
movies['budgetCurrency'], movies['budgetAmount'] = zip(*movies['budget'].map(clean_amount_currency))
movies[['title', 'budget', 'budgetAmount', 'budgetCurrency']].dropna()

# importar archivo csv de tasas de cambio
exchange_rates=pd.read_csv('../data/OECD/DP_LIVE_16072021155836489.csv')

# Seleccionar las tasas de cambio para el año del dataset
exchange_rates_anno = exchange_rates[exchange_rates.TIME == anno]

# Merge tasas de cambio con df movies, usando como primary key el código ISO de la moneda
movies = pd.merge(movies, exchange_rates_anno[['LOCATION','Value']], how='left', left_on='budgetCurrency', right_on='LOCATION')
movies['budgetInDollars'] = movies['budgetAmount'] / movies['Value']

movies.head()

,imdb_id,title,original_title,year,certificate,duration,directors,writers,stars,genres,...,awards,budget,gross_us_canada,opening_us_canada,gross_world,budgetCurrency,budgetAmount,LOCATION,Value,budgetInDollars
0,tt0443533,La historia del amor,The History of Love,2016.0,12,2h 14min,Radu Mihaileanu,"Radu Mihaileanu,Marcia Romano,Nicole Krauss","Radu Mihaileanu,Marcia Romano,Nicole Krauss","['Drama', 'Romance', 'War']",...,Awards\r\n2 nominations,"€15,000,000",NaN,NaN,"$492,272",EU27_2020,15000000.0,EU27_2020,0.903421,1.660355e+07
1,tt0470936,"Tak erkir, tsurt dzmer",NaN,2016.0,NaN,NaN,David Safarian,"David Safarian,Yana Drouz","David Safarian,Yana Drouz",['Drama'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,tt0364201,Aman Ke Farishtey,NaN,2016.0,Not Rated,2h 17min,Kader Kashmiri,Kader Kashmiri,Kader Kashmiri,['Action'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,tt0308078,Les bâtisseurs,NaN,2016.0,NaN,NaN,Jean Epstein,"Auguste Perret,Charles-Édouard Jeanneret-Gris,...","Auguste Perret,Charles-Édouard Jeanneret-Gris,...",['Documentary'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,tt0376479,Pastoral americana,American Pastoral,2016.0,12,1h 48min,Ewan McGregor,"Philip Roth,John Romano","Philip Roth,John Romano","['Crime', 'Drama']",...,Awards\r\n1 win & 3 nominations,NaN,544098.0,149038.0,"$2,063,436",NaN,NaN,NaN,NaN,NaN

## `gross_world`
### Normalización `gross_world` a dólares
Para este año también es necesario normalizar a dólares esta variable.
Son necesarios varios procesos:
- Renombrar la columna a `gwNoDollars`
- Separar, con regex, el texto que corresponde a la moneda y el que corresponde a la cantidad (ej. '€195,000'). Estos dos textos serán dos nuevas columnas `gwCurrency` y `gwAmount`
- Crear un diccionario con la correspondencia del código usado para las monedas en IMDb y el código ISO
- Crear un archivo externo que contenga las tasas de cambio para cada moneda y año
- Crear una nueva columna `gross_world` con el valor ya normalizado a dólares

In [37]:
def print_rare(amount):
    if (str(amount) != 'nan') & (not str(amount).startswith('$')):
        print(amount)
    

movies['gross_world'].apply(print_rare);

NPR 20,000,000
A$230,000
₹220,000,000
₹150,000,000
₹340,000,000
₹240,000,000

In [38]:
movies.rename(columns={'gross_world': 'gwNoDollars'}, inplace=True)
movies.head(2)

,imdb_id,title,original_title,year,certificate,duration,directors,writers,stars,genres,...,awards,budget,gross_us_canada,opening_us_canada,gwNoDollars,budgetCurrency,budgetAmount,LOCATION,Value,budgetInDollars
0,tt0443533,La historia del amor,The History of Love,2016.0,12,2h 14min,Radu Mihaileanu,"Radu Mihaileanu,Marcia Romano,Nicole Krauss","Radu Mihaileanu,Marcia Romano,Nicole Krauss","['Drama', 'Romance', 'War']",...,Awards\r\n2 nominations,"€15,000,000",NaN,NaN,"$492,272",EU27_2020,15000000.0,EU27_2020,0.903421,1.660355e+07
1,tt0470936,"Tak erkir, tsurt dzmer",NaN,2016.0,NaN,NaN,David Safarian,"David Safarian,Yana Drouz","David Safarian,Yana Drouz",['Drama'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
# Dividir la info de budget en dos nuevas columnas (cantidad y moneda)
movies['gwCurrency'], movies['gwAmount'] = zip(*movies['gwNoDollars'].map(clean_amount_currency))
#movies[['title', 'budget', 'budgetAmount', 'budgetCurrency']].dropna()

# importar archivo csv de tasas de cambio
exchange_rates=pd.read_csv('../data/OECD/DP_LIVE_16072021155836489.csv')

# Seleccionar las tasas de cambio para el año del dataset
exchange_rates_anno = exchange_rates[exchange_rates.TIME == anno]

# Merge tasas de cambio con df movies, usando como primary key el código ISO de la moneda
movies = pd.merge(movies, exchange_rates_anno[['LOCATION','Value']], how='left', left_on='gwCurrency', right_on='LOCATION', suffixes=('','_gw'))
movies['gross_world'] = movies['gwAmount'] / movies['Value_gw']

movies

,imdb_id,title,original_title,year,certificate,duration,directors,writers,stars,genres,...,budgetCurrency,budgetAmount,LOCATION,Value,budgetInDollars,gwCurrency,gwAmount,LOCATION_gw,Value_gw,gross_world
0,tt0443533,La historia del amor,The History of Love,2016.0,12,2h 14min,Radu Mihaileanu,"Radu Mihaileanu,Marcia Romano,Nicole Krauss","Radu Mihaileanu,Marcia Romano,Nicole Krauss","['Drama', 'Romance', 'War']",...,EU27_2020,15000000.0,EU27_2020,0.903421,1.660355e+07,USA,492272.0,USA,1.0,492272.0
1,tt0470936,"Tak erkir, tsurt dzmer",NaN,2016.0,NaN,NaN,David Safarian,"David Safarian,Yana Drouz","David Safarian,Yana Drouz",['Drama'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,tt0364201,Aman Ke Farishtey,NaN,2016.0,Not Rated,2h 17min,Kader Kashmiri,Kader Kashmiri,Kader Kashmiri,['Action'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,tt0308078,Les bâtisseurs,NaN,2016.0,NaN,NaN,Jean Epstein,"Auguste Perret,Charles-Édouard Jeanneret-Gris,...","Auguste Perret,Charles-Édouard Jeanneret-Gris,...",['Documentary'],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,tt0376479,Pastoral americana,American Pastoral,2016.0,12,1h 48min,Ewan McGregor,"Philip Roth,John Romano","Philip Roth,John Romano","['Crime', 'Drama']",...,NaN,NaN,NaN,NaN,NaN,USA,2063436.0,USA,1.0,2063436.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17590,tt9906696,Footloose in Italy IV: 4 Rimini Tuscany Rome,NaN,2016.0,NaN,NaN,David Rixon,Debra Rixon,Debra Rixon,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17591,tt9906270,"Footloose in Italy III: 3 Naples, Sorrento, Am...",NaN,2016.0,NaN,NaN,David Rixon,Debra Rixon,Debra Rixon,NaN,...,GBR,4000.0,GBR,0.740634,5.400778e+03,NaN,NaN,NaN,NaN,NaN
17592,tt9907608,Footloose in the Cotswolds - Part 2,NaN,2016.0,NaN,NaN,David Rixon,Debra Rixon,Debra Rixon,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17593,tt9906278,A Classic Tour of Scotland: Footloose Special,NaN,2016.0,NaN,NaN,David Rixon,Debra Rixon,Debra Rixon,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17594,tt9907396,Footloose in the Cotswolds - Part 1,NaN,2016.0,NaN,NaN,David Rixon,Debra Rixon,Debra Rixon,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

---
# Merge de tablas

In [40]:
imdb_merged = pd.merge(title_basics[(title_basics.titleType=='movie') & (title_basics.startYear==anno)] , title_ratings, on='tconst', how='left')
imdb_merged

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
0,tt0143920,movie,Los tallos amargos,Los tallos amargos,0.0,2016.0,NaN,90.0,"Crime,Drama",7.5,171.0
1,tt0308078,movie,Les bâtisseurs,Les bâtisseurs,0.0,2016.0,NaN,48.0,Documentary,6.3,12.0
2,tt0315642,movie,Wazir,Wazir,0.0,2016.0,NaN,103.0,"Action,Crime,Drama",7.1,17893.0
3,tt0364201,movie,Aman Ke Farishtey,Aman Ke Farishtey,0.0,2016.0,NaN,137.0,Action,6.6,23.0
4,tt0376479,movie,American Pastoral,American Pastoral,0.0,2016.0,NaN,108.0,"Crime,Drama",6.1,15756.0
...,...,...,...,...,...,...,...,...,...,...,...
17587,tt9906270,movie,"Footloose in Italy III: 3 Naples, Sorrento, Am...","Footloose in Italy III: 3 Naples, Sorrento, Am...",0.0,2016.0,NaN,150.0,NaN,NaN,NaN
17588,tt9906278,movie,A Classic Tour of Scotland: Footloose Special,A Classic Tour of Scotland: Footloose Special,0.0,2016.0,NaN,151.0,NaN,6.7,6.0
17589,tt9906696,movie,Footloose in Italy IV: 4 Rimini Tuscany Rome,Footloose in Italy IV: 4 Rimini Tuscany Rome,0.0,2016.0,NaN,150.0,NaN,NaN,NaN
17590,tt9907396,movie,Footloose in the Cotswolds - Part 1,Footloose in the Cotswolds - Part 1,0.0,2016.0,NaN,118.0,NaN,6.6,10.0
17591,tt9907608,movie,Footloose in the Cotswolds - Part 2,Footloose in the Cotswolds - Part 2,0.0,2016.0,NaN,102.0,NaN,7.2,5.0

### Renombrar y seleccionar columnas de ambos datasets

In [41]:
imdb_merged.rename(columns={'primaryTitle': 'englishTitle',
                            'tconst': 'imdbId',
                            'averageRating': 'ratingImdb'
                          }, inplace=True)

In [42]:
imdb_merged.columns

Index(['imdbId', 'titleType', 'englishTitle', 'originalTitle', 'isAdult',
       'startYear', 'endYear', 'runtimeMinutes', 'genres', 'ratingImdb',
       'numVotes'],
      dtype='object')

In [43]:
movies.rename(columns={'imdb_id': 'imdbId',
                       'title': 'spanishTitle',
                       'budget': 'budgetString',
                       'budgetInDollars': 'budget',
                       'gross_us_canada': 'grossUsCanada',
                       'opening_us_canada': 'openingUsCanada',
                       'gross_world': 'grossWorld',
                      }, inplace=True)

In [44]:
movies.columns

Index(['imdbId', 'spanishTitle', 'original_title', 'year', 'certificate',
       'duration', 'directors', 'writers', 'stars', 'genres', 'countries',
       'companies', 'imdb_rating', 'metascore', 'popularity', 'awards',
       'budgetString', 'grossUsCanada', 'openingUsCanada', 'gwNoDollars',
       'budgetCurrency', 'budgetAmount', 'LOCATION', 'Value', 'budget',
       'gwCurrency', 'gwAmount', 'LOCATION_gw', 'Value_gw', 'grossWorld'],
      dtype='object')

In [45]:
# Selección de columnas de imdb
imdb_merged = imdb_merged[['imdbId', 'englishTitle', 'originalTitle', 'isAdult', 'runtimeMinutes', 'genres', 'ratingImdb', 'numVotes']]

In [46]:
# Selección de columnas del escrapeado
movies = movies[['imdbId', 'spanishTitle', 'year', 'certificate',
                'directors', 'writers', 'stars', 'countries', 'companies',
                'metascore', 'awards', 'budget', 'grossUsCanada',
                'openingUsCanada', 'grossWorld']]

### Merge final para este año

In [47]:
movies_merged = pd.merge(imdb_merged, movies, on='imdbId', how='inner')
movies_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17578 entries, 0 to 17577
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   imdbId           17578 non-null  object
 1   englishTitle     17578 non-null  object
 2   originalTitle    17578 non-null  object
 3   isAdult          17578 non-null  float64
 4   runtimeMinutes   13793 non-null  float64
 5   genres           16681 non-null  object
 6   ratingImdb       9433 non-null   float64
 7   numVotes         9433 non-null   float64
 8   spanishTitle     17578 non-null  object
 9   year             17578 non-null  float64
 10  certificate      2828 non-null   object
 11  directors        16974 non-null  object
 12  writers          15106 non-null  object
 13  stars            15106 non-null  object
 14  countries        16986 non-null  object
 15  companies        12361 non-null  object
 16  metascore        836 non-null    float64
 17  awards           4237 non-null   object
 18  budget           4860 non-null   float64
 19  grossUsCanada    688 non-null    float64
 20  openingUsCanada  626 non-null    float64
 21  grossWorld       2866 non-null   float64
dtypes: float64(10), object(12)
memory usage: 3.1+ MB

In [48]:
# Reordenar columnas

movies_merged = movies_merged[['imdbId', 'year', 'spanishTitle', 'originalTitle',
                               'englishTitle', 'ratingImdb', 'numVotes', 'metascore',
                               'isAdult', 'certificate', 'runtimeMinutes', 'genres', 'directors',
                               'writers', 'stars', 'countries', 'companies', 'awards',
                               'budget', 'grossUsCanada', 'openingUsCanada', 'grossWorld']]

In [49]:
movies_merged

,imdbId,year,spanishTitle,originalTitle,englishTitle,ratingImdb,numVotes,metascore,isAdult,certificate,...,directors,writers,stars,countries,companies,awards,budget,grossUsCanada,openingUsCanada,grossWorld
0,tt0308078,2016.0,Les bâtisseurs,Les bâtisseurs,Les bâtisseurs,6.3,12.0,NaN,0.0,NaN,...,Jean Epstein,"Auguste Perret,Charles-Édouard Jeanneret-Gris,...","Auguste Perret,Charles-Édouard Jeanneret-Gris,...",France,Ciné-Liberté,NaN,NaN,NaN,NaN,NaN
1,tt0315642,2016.0,Wazir,Wazir,Wazir,7.1,17893.0,NaN,0.0,Not Rated,...,Bejoy Nambiar,"Vidhu Vinod Chopra,Abhijat Joshi,Bejoy Nambiar","Vidhu Vinod Chopra,Abhijat Joshi,Bejoy Nambiar",India,Vinod Chopra Productions,Awards\r\n4 nominations,NaN,1124045.0,586028.0,5633588.0
2,tt0364201,2016.0,Aman Ke Farishtey,Aman Ke Farishtey,Aman Ke Farishtey,6.6,23.0,NaN,0.0,Not Rated,...,Kader Kashmiri,Kader Kashmiri,Kader Kashmiri,India,Gold Coin Entertainment,NaN,NaN,NaN,NaN,NaN
3,tt0376479,2016.0,Pastoral americana,American Pastoral,American Pastoral,6.1,15756.0,43.0,0.0,12,...,Ewan McGregor,"Philip Roth,John Romano","Philip Roth,John Romano","Hong Kong,United States","Lionsgate,Lakeshore Entertainment,TIK Films",Awards\r\n1 win & 3 nominations,NaN,544098.0,149038.0,2063436.0
4,tt0443533,2016.0,La historia del amor,The History of Love,The History of Love,6.3,1276.0,NaN,0.0,12,...,Radu Mihaileanu,"Radu Mihaileanu,Marcia Romano,Nicole Krauss","Radu Mihaileanu,Marcia Romano,Nicole Krauss","France,Belgium,Canada,Romania","2.4.7. Films,Oï Oï Oï Productions,Caramel Film",Awards\r\n2 nominations,1.660355e+07,NaN,NaN,492272.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17573,tt9906270,2016.0,"Footloose in Italy III: 3 Naples, Sorrento, Am...","Footloose in Italy III: 3 Naples, Sorrento, Am...","Footloose in Italy III: 3 Naples, Sorrento, Am...",NaN,NaN,NaN,0.0,NaN,...,David Rixon,Debra Rixon,Debra Rixon,United Kingdom,Grindelwald Productions,NaN,5.400778e+03,NaN,NaN,NaN
17574,tt9906278,2016.0,A Classic Tour of Scotland: Footloose Special,A Classic Tour of Scotland: Footloose Special,A Classic Tour of Scotland: Footloose Special,6.7,6.0,NaN,0.0,NaN,...,David Rixon,Debra Rixon,Debra Rixon,United Kingdom,Grindelwald Productions,NaN,NaN,NaN,NaN,NaN
17575,tt9906696,2016.0,Footloose in Italy IV: 4 Rimini Tuscany Rome,Footloose in Italy IV: 4 Rimini Tuscany Rome,Footloose in Italy IV: 4 Rimini Tuscany Rome,NaN,NaN,NaN,0.0,NaN,...,David Rixon,Debra Rixon,Debra Rixon,United Kingdom,Grindelwald Productions,NaN,NaN,NaN,NaN,NaN
17576,tt9907396,2016.0,Footloose in the Cotswolds - Part 1,Footloose in the Cotswolds - Part 1,Footloose in the Cotswolds - Part 1,6.6,10.0,NaN,0.0,NaN,...,David Rixon,Debra Rixon,Debra Rixon,United Kingdom,Grindelwald Productions,NaN,NaN,NaN,NaN,NaN
17577,tt9907608,2016.0,Footloose in the Cotswolds - Part 2,Footloose in the Cotswolds - Part 2,Footloose in the Cotswolds - Part 2,7.2,5.0,NaN,0.0,NaN,...,David Rixon,Debra Rixon,Debra Rixon,United Kingdom,Grindelwald Productions,NaN,NaN,NaN,NaN,NaN

## Feature engineering. Columnas `profit` y `roi`
Los estadísticos están distorsionados por los valores nulos que se eliminarán después

In [50]:
movies_merged['profit'] = movies_merged.grossWorld - movies_merged.budget
movies_merged['profit'].describe()

count    7.250000e+02
mean     2.867774e+07
std      1.096665e+08
min     -8.532144e+07
25%     -2.516412e+06
50%     -4.259197e+05
75%      3.783527e+06
max      9.033375e+08
Name: profit, dtype: float64

In [51]:
movies_merged['roi'] = (movies_merged.grossWorld - movies_merged.budget) / movies_merged.budget
movies_merged['roi'].describe()

count    7.250000e+02
mean     4.432862e+03
std      7.915606e+04
min     -9.999786e-01
25%     -9.480176e-01
50%     -5.764936e-01
75%      9.255828e-01
max      1.800812e+06
Name: roi, dtype: float64

---
# Inspección inicial de correlaciones
## Registros no nulos con los que hacer las correlaciones de valoraciones y recaudación
Valoraciones: imdb_rating, metascore

Recaudación: budget, gross_world

In [52]:
print('Registros con ratingImdb:', len(movies_merged[movies_merged.ratingImdb.notnull()]))
print('Registros con metascore:', len(movies_merged[movies_merged.metascore.notnull()]))

print('Registros con budget:', len(movies_merged[movies_merged.budget.notnull()]))
print('Registros con grossUsCanada:', len(movies_merged[movies_merged.grossUsCanada.notnull()]))
print('Registros con openingUsCanada:', len(movies_merged[movies_merged.openingUsCanada.notnull()]))
print('Registros con grossWorld:', len(movies_merged[movies_merged.grossWorld.notnull()]))

print('\nRegistros con las rating, metascore, budget, grossWorld:',len(movies_merged[movies_merged.budget.notnull() & movies_merged.grossWorld.notnull() & movies_merged.ratingImdb.notnull() & movies_merged.metascore.notnull()]))

Registros con ratingImdb: 9433
Registros con metascore: 836
Registros con budget: 4860
Registros con grossUsCanada: 688
Registros con openingUsCanada: 626
Registros con grossWorld: 2866

Registros con las rating, metascore, budget, grossWorld: 296

In [53]:
movies_merged = movies_merged[movies_merged.budget.notnull() & movies_merged.grossWorld.notnull() & movies_merged.ratingImdb.notnull() & movies_merged.metascore.notnull()]
movies_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 296 entries, 6 to 15896
Data columns (total 24 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   imdbId           296 non-null    object
 1   year             296 non-null    float64
 2   spanishTitle     296 non-null    object
 3   originalTitle    296 non-null    object
 4   englishTitle     296 non-null    object
 5   ratingImdb       296 non-null    float64
 6   numVotes         296 non-null    float64
 7   metascore        296 non-null    float64
 8   isAdult          296 non-null    float64
 9   certificate      281 non-null    object
 10  runtimeMinutes   296 non-null    float64
 11  genres           296 non-null    object
 12  directors        296 non-null    object
 13  writers          295 non-null    object
 14  stars            295 non-null    object
 15  countries        296 non-null    object
 16  companies        295 non-null    object
 17  awards           257 non-null    object
 18  budget           296 non-null    float64
 19  grossUsCanada    250 non-null    float64
 20  openingUsCanada  243 non-null    float64
 21  grossWorld       296 non-null    float64
 22  profit           296 non-null    float64
 23  roi              296 non-null    float64
dtypes: float64(12), object(12)
memory usage: 57.8+ KB

## Correlaciones de valoraciones y recaudación

In [54]:
movies_merged.describe().round(2)

,year,ratingImdb,numVotes,metascore,isAdult,runtimeMinutes,budget,grossUsCanada,openingUsCanada,grossWorld,profit,roi
count,296.0,296.00,296.00,296.00,296.0,296.00,2.960000e+02,2.500000e+02,2.430000e+02,2.960000e+02,2.960000e+02,296.00
mean,2016.0,6.36,84208.96,55.42,0.0,107.67,3.370384e+07,4.569945e+07,1.455797e+07,1.021138e+08,6.840991e+07,2.03
std,0.0,0.92,130977.58,18.71,0.0,18.47,4.811751e+07,8.242777e+07,2.771277e+07,1.983214e+08,1.620457e+08,7.20
min,2016.0,3.30,54.00,2.00,0.0,66.00,4.427615e+04,1.469000e+03,1.600000e+02,3.090000e+02,-8.532144e+07,-1.00
25%,2016.0,5.80,7479.25,42.00,0.0,94.00,5.000000e+06,2.025836e+06,1.106875e+05,2.050515e+06,-3.643599e+06,-0.70
50%,2016.0,6.40,33554.50,57.00,0.0,105.00,1.300000e+07,1.294299e+07,4.294232e+06,2.001068e+07,3.848485e+06,0.29
75%,2016.0,7.10,103196.50,70.25,0.0,117.25,4.000000e+07,5.473761e+07,1.671452e+07,1.065972e+08,6.931048e+07,2.31
max,2016.0,8.40,930456.00,99.00,0.0,226.00,2.500000e+08,5.321773e+08,1.791391e+08,1.153337e+09,9.033375e+08,104.32

In [55]:
method = 'pearson'

print(anno, 'Corr Método:', method)

movies_merged[['ratingImdb', 'metascore', 'budget', 'grossWorld', 'profit', 'roi']].corr(method = method)

2016 Corr Método: pearson

            ratingImdb  metascore    budget  grossWorld    profit       roi
ratingImdb    1.000000   0.727345  0.149793    0.270695  0.286814  0.237666
metascore     0.727345   1.000000 -0.066884    0.093754  0.134602  0.168835
budget        0.149793  -0.066884  1.000000    0.806262  0.689814  0.000132
grossWorld    0.270695   0.093754  0.806262    1.000000  0.984452  0.255180
profit        0.286814   0.134602  0.689814    0.984452  1.000000  0.312266
roi           0.237666   0.168835  0.000132    0.255180  0.312266  1.000000

In [56]:
method = 'kendall'

print(anno, 'Corr Método:', method)

movies_merged[['ratingImdb', 'metascore', 'budget', 'grossWorld', 'profit', 'roi']].corr(method = method)

2016 Corr Método: kendall

            ratingImdb  metascore    budget  grossWorld    profit       roi
ratingImdb    1.000000   0.548207  0.051062    0.166162  0.186918  0.203392
metascore     0.548207   1.000000 -0.126470    0.004154  0.085305  0.101877
budget        0.051062  -0.126470  1.000000    0.616993  0.245456  0.248913
grossWorld    0.166162   0.004154  0.616993    1.000000  0.630738  0.634173
profit        0.186918   0.085305  0.245456    0.630738  1.000000  0.626890
roi           0.203392   0.101877  0.248913    0.634173  0.626890  1.000000

In [57]:
method = 'spearman'

print(anno, 'Corr Método:', method)

movies_merged[['ratingImdb', 'metascore', 'budget', 'grossWorld', 'profit', 'roi']].corr(method = method)

2016 Corr Método: spearman

            ratingImdb  metascore    budget  grossWorld    profit       roi
ratingImdb    1.000000   0.729208  0.070750    0.241115  0.268932  0.294472
metascore     0.729208   1.000000 -0.194861    0.000006  0.123491  0.153914
budget        0.070750  -0.194861  1.000000    0.800033  0.392493  0.353441
grossWorld    0.241115   0.000006  0.800033    1.000000  0.797128  0.814682
profit        0.268932   0.123491  0.392493    0.797128  1.000000  0.841113
roi           0.294472   0.153914  0.353441    0.814682  0.841113  1.000000

In [58]:
movies_merged[['ratingImdb', 'metascore', 'budget', 'grossUsCanada', 'openingUsCanada', 'grossWorld', 'profit', 'roi']].corr()

,ratingImdb,metascore,budget,grossUsCanada,openingUsCanada,grossWorld,profit,roi
ratingImdb,1.000000,0.727345,0.149793,0.253404,0.157785,0.270695,0.286814,0.237666
metascore,0.727345,1.000000,-0.066884,0.086632,0.004429,0.093754,0.134602,0.168835
budget,0.149793,-0.066884,1.000000,0.726495,0.761251,0.806262,0.689814,0.000132
grossUsCanada,0.253404,0.086632,0.726495,1.000000,0.941845,0.936303,0.927639,0.154521
openingUsCanada,0.157785,0.004429,0.761251,0.941845,1.000000,0.900256,0.872980,0.110990
grossWorld,0.270695,0.093754,0.806262,0.936303,0.900256,1.000000,0.984452,0.255180
profit,0.286814,0.134602,0.689814,0.927639,0.872980,0.984452,1.000000,0.312266
roi,0.237666,0.168835,0.000132,0.154521,0.110990,0.255180,0.312266,1.000000

---
# Guardado dataset a pickle

In [59]:
import pickle

with open('../data/web_imdb_clean/movies_2016.pickle', 'wb') as f:
    pickle.dump(movies_merged, f)