In [2]:
import pickle
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
with open('../data/web_imdb_clean/movies_2014.pickle', 'rb') as f:
    movies_2014 = pickle.load(f)

with open('../data/web_imdb_clean/movies_2015.pickle', 'rb') as f:
    movies_2015 = pickle.load(f)

with open('../data/web_imdb_clean/movies_2016.pickle', 'rb') as f:
    movies_2016 = pickle.load(f)

with open('../data/web_imdb_clean/movies_2017.pickle', 'rb') as f:
    movies_2017 = pickle.load(f)        
    
with open('../data/web_imdb_clean/movies_2018.pickle', 'rb') as f:
    movies_2018 = pickle.load(f)
    
with open('../data/web_imdb_clean/movies_2019.pickle', 'rb') as f:
    movies_2019 = pickle.load(f)    

#Importo 2020 por si es necesaria alguna gráfica, pero no será parte del dataframe principal
with open('../data/web_imdb_clean/movies_2020.pickle', 'rb') as f:
    movies_2020 = pickle.load(f)

In [4]:
movies = pd.concat([movies_2014, movies_2015,movies_2016, movies_2017, movies_2018, movies_2019], axis=0, ignore_index=False)

In [5]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1553 entries, 4 to 16845
Data columns (total 24 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   imdbId           1553 non-null   object
 1   year             1553 non-null   float64
 2   spanishTitle     1553 non-null   object
 3   originalTitle    1553 non-null   object
 4   englishTitle     1553 non-null   object
 5   ratingImdb       1553 non-null   float64
 6   numVotes         1553 non-null   float64
 7   metascore        1553 non-null   float64
 8   isAdult          1553 non-null   float64
 9   certificate      1497 non-null   object
 10  runtimeMinutes   1553 non-null   float64
 11  genres           1553 non-null   object
 12  directors        1553 non-null   object
 13  writers          1550 non-null   object
 14  stars            1550 non-null   object
 15  countries        1553 non-null   object
 16  companies        1549 non-null   object
 17  awards           1366 non-null   object
 18  budget           1553 non-null   float64
 19  grossUsCanada    1318 non-null   float64
 20  openingUsCanada  1286 non-null   float64
 21  grossWorld       1553 non-null   float64
 22  profit           1553 non-null   float64
 23  roi              1553 non-null   float64
dtypes: float64(12), object(12)
memory usage: 303.3+ KB

In [6]:
movies.describe().round(2)

,year,ratingImdb,numVotes,metascore,isAdult,runtimeMinutes,budget,grossUsCanada,openingUsCanada,grossWorld,profit,roi
count,1553.00,1553.00,1553.00,1553.00,1553.0,1553.00,1.553000e+03,1.318000e+03,1.286000e+03,1.553000e+03,1.553000e+03,1553.00
mean,2016.25,6.37,86505.57,55.25,0.0,107.93,3.306149e+07,4.944473e+07,1.553238e+07,1.111871e+08,7.812559e+07,208.05
std,1.66,0.95,146074.90,18.23,0.0,17.13,4.902276e+07,9.201314e+07,3.065050e+07,2.381673e+08,2.004920e+08,5708.03
min,2014.00,1.40,31.00,1.00,0.0,60.00,2.260000e+00,6.070000e+02,1.600000e+02,3.090000e+02,-1.580311e+08,-1.00
25%,2015.00,5.80,6886.00,42.00,0.0,96.00,5.000000e+06,1.008891e+06,7.946250e+04,1.472770e+06,-3.159592e+06,-0.73
50%,2016.00,6.40,30139.00,56.00,0.0,106.00,1.349283e+07,1.655902e+07,4.528433e+06,1.920651e+07,4.309313e+06,0.42
75%,2018.00,7.00,97300.00,69.00,0.0,118.00,3.700000e+07,5.439422e+07,1.700944e+07,1.003754e+08,6.392939e+07,2.59
max,2019.00,8.60,1577934.00,100.00,0.0,226.00,3.560000e+08,9.366622e+08,3.571150e+08,2.797501e+09,2.441501e+09,169901.90

In [14]:
'''
compression_opts = dict(method='zip',
                        archive_name='movies.csv') 

movies.to_csv('../data/web_imdb_clean/movies.zip', sep=';', na_rep='NaN')
'''

"\ncompression_opts = dict(method='zip',\n                        archive_name='movies.csv') \n\nmovies.to_csv('../data/web_imdb_clean/movies.zip', sep=';', na_rep='NaN')\n"

In [7]:
movies.to_csv('../data/web_imdb_clean/movies.csv', sep=';', na_rep='NaN', index=False)